.maindropdown {
    height: 100px;
    position: relative;
  
  
  }
  .maindropdown ul {
    
  }
  .maindropdown ul li {
    float: left;
  
    background-color: black;
    color: white;
   
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
  }
  .maindropdown ul li ul {
    display: none;
  }
  .maindropdown ul li:hover > ul {
    display: flex;
    flex-direction: column;
  }
  .maindropdown ul li:hover {
    background-color: #32cd32;
  }
  .maindropdown ul {
    position: absolute;
    z-index: 9;
  }
  /* .maindropdown ul li ul li {
    position: relative;
  
  }
  .maindropdown ul li ul li il {
    z-index: 9;
  } */
  